/* .jsr-btn-add{
	border-radius: 40px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    margin-bottom: 10px !important;
}

.jsr-cmd-btn{
	margin: 4px !important;
}

.btn-modal-tab{
	margin-top: 10px !important;
}

.table-responsive{
    padding: 10px 0 10px 0 !important;
}

.custom-filter-wrapper{
    background: #fff;
    padding: 20px 0 0 40px;
}

.hidden-xs-down{
    font-size: 12px;
} */

.tech-header{
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.top-header{
    background: #707070;
    color: #ffffff;
    padding: 0.25rem 5rem;
}

.top-header p{
    margin-bottom: 0;
}

.nav-link{
    font-weight: bold;
    color: #707070;
}

.nav-item.active{
    border-bottom: solid 2px #707070;
}